* {
    margin: 0;
    padding: 0;
}

.box {
    width: 430px;

    margin: 30px auto;
}

.title {
    background-color: gainsboro;
    border-top: 2px solid green;
    height: 48px;
    padding: 0 20px;
}

.title a {
    float: right;
    line-height: 48px;
    color: red;
    font-size: 15px;
}

.title h2 {
    line-height: 48px;
    font-size: 20px;
}

.red {
    color: red;
    font-weight: bold;
}

.right {
    float: right;
}

ul {
    list-style: none;
}

.content {
    border: 1px solid black;
}

.box1 {
    margin: 0 32px;
    border-bottom: 1px gray solid;
}

.noda {
    border: none;
}

.content h3 {
    padding: 22px 0;
}

.content li {
    margin-bottom: 15px;
}

.content a {
    color: black;
    text-decoration: none;
}