.块状 {
    background-color: red;
    text-align: center;
}

.内联 {
    background-color: green;
    text-align: center;
}

.box1 {
    /*
    使用width来设置盒子内容区的宽度
    使用height来设置盒子内容区的高度
    */
    width: 400px;
    height: 100px;

    /*设置背景颜色*/
    background-color: aqua;

    /*
        为元素设置边框
            要为一个元素设置边框必须指定三个样式
            border-width: ;边框宽度
            border-color: ;边框颜色
            border-style: ;边框样式
    */

    /*border-width: ;边框宽度*/
    border-width: 10px;
    /*border-color: ;边框颜色*/
    border-color: red;
    /*border-style: ;边框样式
        可选值
            none 空 默认
            solid 实线
            dotted 点状边框
            dashed  虚线
            double  双线
        
            也可以分别指定四个边的边框样式
            也有border-xxx-style设置样式
    */
    border-style: solid;

    /*这是第二种形式的表示 与上面效果一致 
        border-xxx可以单独设置一条边的样式
    */
    /*
    border: 10px solid red;
    border-top: 10px solid red;
    */
    /*值无顺序要求*/

    /*
    内边距 padding
    也可通过padding-xxx设置各个方向的内边距大小
    */
    padding-top: 100px;
    padding-right: 75px;
    padding-bottom: 50px;
    padding-left: 25px;

    /*
    
    外边距margin
    外边距可以设置负值 
    margin可以设置auto，一般只设置给水平方向的margin

    简写
    margin:10px 20px 30px 40px;
    */

    margin: auto;
    /*直接居中*/
    margin-bottom: 50px;
}

.box2 {
    width: 100%;
    height: 100%;
    background-color: yellow;
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: pink;
}

.s1 {
    margin-left: 100px;
    background-color: greenyellow;
    margin-right: 100px;
}

.s2 {
    margin-left: 100px;
    background-color: greenyellow;
}

#display和visibility演示1{
    /*
    display 属性规定元素应该生成的框的类型。
    常用的值：   none	此元素不会在页面中显示也不占据位置。
                block	此元素将显示为块级元素，此元素前后会带有换行符。
                inline	默认。此元素会被显示为内联元素，元素前后没有换行符。
                inline-block	行内块元素（有两者元素的特点，即可以设置宽高也不独占一行）。
    */
    display: inline-block;
    width: 500px;
    height: 100px;
    background-color: aquamarine;
}
#display和visibility演示2{
    /*
    visibility 属性规定元素是否可见。
        即使不可见的元素也会占据页面上的空间。请使用 "display" 属性来创建不占据页面空间的不可见元素。
        可能的值：
            visible	默认值。元素是可见的。
            hidden	元素是不可见的。
            collapse	当在表格元素中使用时，此值可删除一行或一列，但是它不会影响表格的布局。被行或列占据的空间会留给其他内容使用。如果此值被用在其他的元素上，会呈现为 "hidden"。
            inherit	规定应该从父元素继承 visibility 属性的值。    
    */
    visibility: hidden;
    width: 100px;
    height: 50px;
}